html {
    box-sizing: border-box;
    margin: 0 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: #F4F4F4;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none;
}

p {
    margin-bottom: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* --------модальные окна-------- */

dialog {
    display: none;
    opacity: 0;
    translate: 0 25vh;
    transition-property: overlay display opacity;
    transition-duration: 1s;
    transition-behavior: allow-discrete;
}

dialog[open] {
    display: block;
    opacity: 1;
    translate: 0 0;

    @starting-style {
        opacity: 0;
        translate: 0 -25vh;
    }
}

dialog::backdrop {
    opacity: 0;
    transition-property: overlay display opacity;
    transition-duration: 1s;
    transition-behavior: allow-discrete;
    background-color: #172139;
}

dialog[open]::backdrop {
    opacity: 0.5;
}

@starting-style {
    dialog[open]::backdrop {
        opacity: 0;
    }
}

/*--------custom checkbox--------*/

.checkbox__container {
    padding-left: 35px;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox__container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid #FF6600;
    border-radius: 2px;
    background-color: #FFFFFF;
}

/* On mouse-over, add a grey background color */
.checkbox__container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, edit background */
.checkbox__container input:checked~.checkmark {
    background-color: #FF6600;
}

/* Style the checkmark/indicator */
.checkbox__container .checkmark:after {
    left: 7px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox__container input:checked~.checkmark:after {
    display: block;
}

/* ------------------ */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #EFEFEF;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 0px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #EFEFEF;
}

input:focus+.slider {
    box-shadow: 0 0 1px #EFEFEF;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
    background-color: #FF6600;
}
/*--------шрифты--------*/
.navigation__text {
    font-family: 'Futura PT';
    font-size: 17px;
    font-weight: 400;
    line-height: 21.79px;
}

/*--------Header--------*/

.header {
    margin-bottom: 30px;
    background-color: #FFFFFF;
}

.header__container {
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__version-text {
    position: absolute;
    Top: 10px;
    Left: 35px;
    padding: 3px;
    margin-top: 0px;
    color: #FFFFFF;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 450;
    font-size: 12px;
    line-height: 16px;
    border-radius: 3.62px;
    background-color: #FF6600;
}

.header__logo-img {
    margin-left: 15px;
    margin-right: 8px;
    Width: 18.97px;
    Height: 32.61px;
}

.header__logout-img {
    margin-right: 32px;
}

/*--------main--------*/

.global-content__container {
    display: flex;
}

.navigation__container {
    margin-right: 30px;
}

.navigation {
    width: 290px;
    background-color: #FFFFFF;
}

.navigation__item {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #172139;
    border-bottom: 1px solid #F4F4F4;
}

.navigation-item__icon {
    margin-left: 15px;
    margin-right: 15px;
}

.navigation__hide-button {
    margin-left: auto;
    margin-right: auto;
    color: #FF6600;
    border: none;
    background-color: transparent;
    display: flex;
}

.hide-button__line-1,
.hide-button__line-2 {
    width: 8px;
    height: 2px;
    position: relative;
    background-color: #FF6600;
}

.hide-button__line-1 {
    left: 0px;
    top: 5px;
    transform: rotate(-45deg);
}

.hide-button__line-2 {
    left: -8px;
    top: 10px;
    transform: rotate(225deg);
}

.main-content__container {
    width: 100%;
}

h1 {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    color: #000000;
}

.main__title {
    margin-bottom: 25px;
}

h2 {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    color: #000000;
}

.second__title {
    margin-bottom: 28px;
}

.locations-control__container {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.locations-control {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.locations-control__item {
    padding: 9px 30px;
    color: #172139;
    font-family: 'Futura PT';
    font-size: 14px;
    font-weight: 500;
    line-height: 17.95px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.control__synchronization-button {
    padding: 16px 18px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    font-family: 'Futura PT';
    font-size: 14px;
    font-weight: 500;
    line-height: 17.95px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    background-color: #172139;
}

.synchronization-button__icon {
    margin-right: 10px;
}

.synchronization-button__date {
    font-family: Futura PT;
    font-size: 10px;
    font-weight: 500;
    line-height: 12.82px;
    letter-spacing: 0.1em;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.create-location__container {
    margin-bottom: 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-location__button {
    padding: 17px 51px 17px 51px;
    font-family: 'Futura PT';
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    background-color: #172139;
}

.create-location__button img {
    margin-right: 10px;
}

.create-location__modal,
.edit-location__modal {
    width: 440px;
    border: none;
    padding: 0px;
}

.modal__form {
    margin: 0px 40px 25px 40px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.modal__title {
    margin-top: 25px;
    margin-bottom: 17px;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #000000;
}

.modal__text-input {
    padding-left: 25px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #E1E1E1;
    background-color: #F5F5F5;
}

.modal-checkbox__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-buttons__container {
    display: flex;
    justify-content: space-between;
}

.modal__submit-button {
    padding: 17px 48px 17px 48px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: #172139;
    border-radius: 5px;
    border: none;
}

.submit-button__logo {
    margin-right: 10px;
}

.modal__close-button {
    box-sizing: border-box;
    padding: 17px 32px;
    text-transform: uppercase;
    background: #FFFFFF;
    border: 1px solid #172139;
    border-radius: 5px;
}

.search__container {
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.search__checkbox {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    text-align: left;
    margin-right: 10px;
}

.search {
    padding-left: 30px;
    height: 50px;
    font-family: 'Futura PT';
    font-size: 14px;
    font-weight: 500;
    line-height: 17.95px;
    letter-spacing: 0.1em;
    text-align: left;
    border: none;
    border-radius: 5px;
}

.search-input__container {
    margin-left: 25px;
    position: relative;
}

.search__button {
    position: absolute;
    left: 4px;
    top: 16px;
    border: none;
    background-color: transparent;
}

.search__icon {
    width: 13px;
    height: 13px;
}

.location__container {
    display: flex;
    align-items: center;
}

.location__open-button {
    cursor: pointer;
    margin-right: 15px;
    width: 20px;
    height: 20px;
    background-color: #FF6600;
    border: none;
    border-radius: 100%;
}

.open-button__line, .open-button__line-2 {
    display: block;
    position: absolute;
    height: 2px;
    width: 8px;
    background-color: #FFFFFF;
}

.open-button__line-2 {
    transform: rotate(90deg);
}

.open-button--active {
    transform: rotate(0deg);
}

.location__details-button {
    margin-right: 15px;
}

.details-button {
    cursor: pointer;
    height: 16px;
    border: none;
    background-color: transparent;
}

.location-name {
    margin-right: 30px;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #172139;
}

.location-size {
    margin-right: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FF6600;
}

.location__edit-button {
    display: none;
    cursor: pointer;
    margin-right: 20px;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    color: #FF6600;
    border: none;
    background-color: transparent;
}

.location__edit-button--active {
    display: block;
}

.modal__delete-button {
    box-sizing: border-box;
    padding: 17px 50px;
    text-transform: uppercase;
    background: #FFFFFF;
    border: 1px solid #172139;
    border-radius: 5px;
}

.modal__save-button {
    padding-top: 17px;
    padding-bottom: 17px;
    width: 100%;
    color: #FFFFFF;
    text-transform: uppercase;
    background: #172139;
    border-radius: 5px;
    border: none;
}

.input__label {
    display: grid;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #172139;
}

.location__delete-button {
    display: none;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    color: #FF5959;
    border: none;
    background-color: transparent;
}

.location__delete-button--active {
    display: block;
}

.location__edit-icon,
.location__delete-icon {
    margin-right: 5px;
}

.sub-location__container {
    display: none;
    margin-left: 44px;
}

.sub-sub-location__container {
    margin-left: 102px;
}

.sub-location--active {
    display: flex;
}

.location-status__1 {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    margin-right: 30px;
}

.location-status__2 {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    line-height: 17.07px;
}

.tab__active {
    background-color: #172139;
    color: #FFFFFF;
}

/*--------Footer--------*/
.footer {
    background-color: #FFFFFF;
}

.footer__container {
    height: 80px;
    display: flex;
    align-items: center;
}

.footer-text__container {
    display: flex;
    text-align: center;
    margin-left: auto;
}

.last-reception {
    margin-right: 30px;
}

.last-reception,
.last-translation {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #A5A5A5;
}

.footer-documentation {
    margin-left: auto;
    margin-right: 30px;
    text-align: right;
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #FF6600;
}

.documentation-logo {
    margin-right: 7px;
}